*{
    margin: 0;
    box-sizing: border-box;
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: rgb(224, 216, 216);
}

.loading_screen {
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 4;
    background-color: black;
}

.loading_image {
    width: 100px;
    margin: 50vh auto;
    display: block;
    animation: rotacion 1s linear infinite;
}

@keyframes rotacion {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

.nav_bar {
    margin-bottom: 30px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(224, 96, 128);
    position: relative;
}

.icon {
    width: 50px;
    height: 50px;
}

.menu_icon {
    position: relative;
    z-index: 1000;
}

.pokemon_container {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
    grid-auto-rows: 600px
}

.pokemon_card {
    width: 100%;
    max-width: 400px;
    margin: 0 auto 20px auto;
    border-radius: 15px;
    background-color: white;
}

.pokemon_name {
    width: 100%;
    height: 70px;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
    line-height: 2;
    border-radius: 15px 15px 0 0;
    background-color: rgb(224, 96, 128);
    color: white;
}

.pokemon_image_container {
    width: 50%;
    margin: 0 auto;
}

.pokemon_image {
    display: block;
    margin: 0 auto;
    width: 80%;
}

.types {
    margin: 20px 10px 30px 10px;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.types > span {
    display: block;
    width: 150px;
    height: 50px;
    border-radius: 5px;
    font-size: 1.5rem;
    text-align: center;
    line-height: 2;
    background-color: rgb(219, 188, 130)
}

.audio_button {
    width: 200px;
    height: 50px;
    display: block;
    margin: 0 auto;
    font-size: 1.5rem;
    background-color: black;
    color: white;
    border: none;
    border-radius: 10px;
}

.toggle_menu {
    width: 70%;
    height: 100vh;
    max-width: 500px;
    color: rgb(255, 255, 255);
    font-size: 1.7rem;
    background-color: rgba(224, 96, 128, 0.8);
    position: absolute;
    z-index: 2;
    top: 0;
    right: -100%;
    transition: 0.3s;
    display: none;
    overflow: scroll;
}

.toggle_menu::-webkit-scrollbar {
    display: none;
}

.menu_visible {
    display: block;
    right: -0%;
    transition: 0.3s;
    
}

li:first-of-type {
    margin-top: 60px;
    border: none;
}

.option {
    list-style: none;
    margin-bottom: 10px;
    user-select: none;
}

.option:hover {
    color: rgb(206, 201, 201);
    transition: 0.2s;
}

@media screen and (min-width:900px) {
    .pokemon_container {
        max-width: 1000px;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width:1200px) {
    .pokemon_container {
        max-width: 1440px;
        grid-template-columns: repeat(3, 1fr);
    }
}